<h2>make yr own poem</h2>

<form action="{% url 'poems:create' %}" method="post">
{% csrf_token %}
<input type="url" name="sourceUrl" 
  {% if given_source_url %}
    value={{given_source_url}}
  {% endif %} 
 />
<label for="sourceUrl">URL to source text</label>
</br>
- or - 
<br />
{% spaceless %}
<textarea id="newpoem" name="content" placeholder="Paste source text here" rows="15" cols="80">
  {% if given_source_text %}
    {{given_source_text}}
  {% endif %} 
</textarea>
{% endspaceless %}
<br />

{% for format_name in format_names %}
    <input type="radio" name="formatName" id="formatName{{ forloop.counter }}" value="{{ format_name }}" 
    {% if given_format_name and given_format_name == format_name %}
      checked
    {% endif %}
    />
    <label for="formatName{{ forloop.counter }}">{{ format_name|capfirst }}</label><br />
{% endfor %}
<br />

<input type="submit" value="Poemize" />
</form>

<!-- UI: 
  1. give boxes to choose source, format
  2. "approval page" with button to "show it, poet" or not
  3. share page -->
