{% extends "base.html" %}

{% block title %}DIY Poems{% endblock %}

{% block static %}
    <script src="{{ STATIC_URL }}js/paned_source_input.js"></script>
    <script src="{{ STATIC_URL }}js/ensure_format_is_chosen.js"></script>
{% endblock %}

{% load poem_extras %}

<!-- 

center top: create your own poem
  source title:
  source url/text:
  format dropdown:

bottom left: top rated poems this week
bottom right: newly-created poems

-->
{% block content %}
{% if error_message %}
  {% for em in error_message %}
  <p><strong>{{ em }}</strong></p>
  {% endfor %}
{% endif %}

<div id="center" style="">
  {% include 'poems/_new.html' %}
</div>

<div id="bottom-left" class="half-width">
  <h3>latest poems</h3>
  {% if latest_poems_list %}
      <ul>
      {% for poem in latest_poems_list %}
          <li><a href="{% url 'poems:detail' poem_id=poem.id %}">{{ poem.text|truncatefrontpage }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No recent poems.</p>
  {% endif %}
</div>
<div id="bottom-right" class="half-width">
  <h3>popular sources</h3>
  {% if popular_sources_list %}
      <ul>
      {% for source in popular_sources_list %}
          <li><a href="{% url 'poems:source_detail' pk=source.pk %}">{{ source.title }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No popular sources :(</p>
  {% endif %}

</div>
<div style="clear: both;"></div>
{% endblock %}
