{% extends "base.html" %}

{% block title %}DIY Poems{% endblock %}

{% block static %}
    <script src="{{ STATIC_URL }}js/new_poems.js"></script>
{% endblock %}

{% load poem_extras %}

<!-- 

center top: create your own poem
  source title:
  source url/text:
  format dropdown:

bottom left: top rated poems this week
bottom right: newly-created poems

-->
{% block content %}
{% if error_message %}
  {% for em in error_message %}
  <p><strong>{{ em }}</strong></p>
  {% endfor %}
{% endif %}

<div id="center" style="">
  {% include 'poems/_new.html' %}
</div>

<div id="bottom-left" class="half-width">
  <h3>latest</h3>
  {% if latest_poems_list %}
      <ul>
      {% for poem in latest_poems_list %}
          <li><a href="{% url 'poems:detail' poem_id=poem.id %}">{{ poem.text|truncatefrontpage }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No recent poems.</p>
  {% endif %}
</div>
<div id="bottom-right" class="half-width">
  <h3>popular</h3>
  {% if best_poems_list %}
      <ul>
      {% for poem in best_poems_list %}
          <li><a href="{% url 'poems:detail' poem_id=poem.id %}">{{ poem.text|truncatefrontpage }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No awesome poems :(</p>
  {% endif %}

{% endblock %}
</div>
<div style="clear: both;"></div>

