{% extends "base.html" %}

{% block title %}New Poem{% endblock %}

{% block content %}
<h1>New Poem</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'poems:create' %}" method="post">
{% csrf_token %}
<textarea name="content" rows="10" cols="30">
 Paste source content here.
</textarea>
<br />
<input type="url" name="sourceUrl" />
<label for="sourceUrl">URL to source text</label></br>

{% for format_name in format_names %}
    <input type="radio" name="formatName" id="formatName{{ forloop.counter }}" value="{{ format_name }}" />
    <label for="formatName{{ forloop.counter }}">{{ format_name|capfirst }}</label><br />
{% endfor %}

<input type="submit" value="Poemize" />
</form>

<!-- UI: 
  1. give boxes to choose source, format
  2. "approval page" with button to "show it, poet" or not
  3. share page -->
{% endblock %}
