{% extends "base.html" %}
{% load poem_extras %}

{% block title %}Source | DIY Poems{% endblock %}

{% block static %}
    <script src="{{ STATIC_URL }}js/ensure_format_is_chosen.js"></script>
{% endblock %}


{% block content %}

<h6>Original Source: </h6>
<h4><a href="{{source.address}}">{{source.title}}</a></h4>

{% if source.poem_set.count > 0 %}
<h4>Poems from this source</h4>
<ol>
	{% for poem in source.poem_set.all %}
		<li>{{ poem.format_name }}: <a href="{% url 'poems:detail' poem_id=poem.id %}">{{poem.text|truncatefrontpage}}</a></li>
	{% endfor %}
</ol>
{% endif %}

create another poem from this source?<br/>
{% include 'poems/_new.html' with predecided_source_url=source.address predecided_format_name=None poem_button_text="Poemize!" %}

<div style="clear: both;"></div>
{% endblock %}
