{% extends "base.html" %}

{% block title %}Source | DIY Poems{% endblock %}

{% block static %}
    <script src="{{ STATIC_URL }}js/ensure_format_is_chosen.js"></script>
{% endblock %}


{% block content %}
{% load poem_extras %}

<h6>Original Source: </h6>
<h4><a href="{{source.address}}">{{source.title}}</a></h4>

{% if source.poem_set.count > 0 %}
<h4>Poems from this source</h4>
<ol>
	{% for poem in source.poem_set.all %}
		<li>{{ poem.format_name }}: <a href="{% url 'poems:detail' poem_id=poem.id %}">{{poem.text|truncatefrontpage}}</a></li>
	{% endfor %}
</ol>
{% endif %}

create another poem from this source?<br/>
<!-- TODO: factor this out into a partial with _new -->
<form action="{% url 'poems:create' %}" method="post">
{% csrf_token %}
<input type='hidden' name="sourceUrl" value="{{source.address}}" />
<div id="formatChoice">
  <h3>choose a poem format</h3>
  {% for format_name in format_names %}
      <input type="radio" name="formatName" class="formatName" id="formatName{{ forloop.counter }}" value="{{ format_name }}" 
      {% if given_format_name and given_format_name == format_name %}
        checked
      {% endif %}
      />
      <label for="formatName{{ forloop.counter }}">{{ format_name|capfirst|fixFormatNames }}</label><br />
  {% endfor %}
</div>
<input type="submit" id="submitPoem" value="Poemize" class="btn" disabled />
</form>
<div style="clear: both;"></div>
{% endblock %}
