div#container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.half-width{
  width: 48%;
  margin-left: 1%;
  marign-right: 1%;
  float: left;
}
div#loginbar{
  float: right;
}
textarea#newpoem{

}

/*body{
  font-family: ;
}*/

.byline{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: italic;
}

div.poem-detail p{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
}
div.poem-detail.haiku p{
  font-size: 24px;
  line-height: 48px;
}
div.poem-detail.limerick p{
  font-size: 22px;
}