div#container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.half-width{
  width: 48%;
  margin-left: 1%;
  marign-right: 1%;
  float: left;
}
div#loginbar{
  float: right;
}
textarea#newpoem{

}

/*body{
  font-family: ;
}*/