div#header{
  margin-bottom: 50px;
}

div#footer{
  position: fixed;
  bottom: 0em;
  height: 1.5em;
  margin-bottom: 0px;
  padding-bottom: 0.5em;
  background-color: white;
  z-index: 2;
  width: 100%;
}

a.index{
  color: black;
  text-decoration: none;
}
a.index:hover, a.source-link:hover{
  color: black;
  text-decoration: underline;
}

a.source-link{
  color: black;
  text-decoration: none;
  font-weight: normal;
}

a.unpurpleable:visited{
  color: black;
}


div#container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.half-width{
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
}
div#loginbar{
  float: right;
}

/* clicky two-pane view*/
textarea#source-text{
}
.hidden{
  display: none;
}
input#source-url-input{
  width: 500px;
}

/*body{
  font-family: ;
}*/

h1 {
  font-weight: normal;
  font-size: 30px; 
}

h1#format-name{
  display: inline;
}
h4#source-title{

}

#byline{
  font-weight: normal;
  font-style: italic;
  padding-left: 20px;
  margin-top: 0;

  display: inline;
}
.admonition{

}

div.poem-detail p{
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  padding-left: 20px;
  margin-top: 24px;
}
div.poem-detail.haiku p{
  font-size: 24px;
  line-height: 40px;
}
div.poem-detail.limerick p{
  font-size: 22px;
}